


.wrapper-div-TutCard {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  /* gap: 10px; */
  margin: auto;
  overflow: auto;
  width: 410px;
  height: 390px;
  /* border-top: 1px solid rgb(10, 2, 2); */
  background-color: black;
  color: aliceblue;
  padding: 8px;
}

.thumbnail {
  width: 400px;
  height:250px;
  /* border: 1px solid red; */
}

.profile-pic {
  border-radius: 50%;
  /* border: 1px solid blue; */
  height: 80px;
  padding:8px;
}

.profile-title-user-outer {
  display: flex;
  /* border: 1px solid yellow; */
  width: 390px;
  height: 120px;
  padding:5px;
}
