.likes-container {
/* border: 2px solid green; */
display: flex;
align-items: center;
width: max-content;
height: 50px;
font-size: 30px;
padding-left: 28vw;


}

.fa-thumbs-up {
  color: #f61c0d;
  cursor: pointer;
}

.likes-count {
  /* border: 2px solid green; */
  padding-left: 1vw;

}
