
.outer-wrapper-watchTut {
  /* border: 3px solid yellowgreen; */
  display: flex;
  flex-direction: row;
  margin: 7px;
}

.tut-and-block {
  /* border: 2px solid blue; */
  display:flex;
  flex-direction: column;
  padding-top: 60px;
}

.watch-tut-player {
  /* border: 3px solid red; */
  height: 45vw;
  width: 73vw;
}

.comments-div {
  /* border:3px solid darkmagenta; */
  height:1000px;
}

.mini-tut-card-feed {
  /* border: 3px solid blue; */
  width: -webkit-fill-available;

}

.title-likes-dislikes-WatchTut {
  /* border: 3px solid wheat; */
  height: fit-content;
  width: -webkit-fill-available;
}

.tut-title-WatchTut {
  font-size: x-large;
  -ms-word-break: break-all;
  word-break: break-all;

}

.profile-user-about-outer-WatchTut {
  display: flex;
  /* border: 2px solid greenyellow; */
  width: 340px;
  height: fit-content;
  width: -webkit-fill-available;
  padding:5px;
  align-items: stretch;

}
.profile-pic-div-WatchTut{
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.profile-pic-WatchTut {
  border-radius: 50%;
  /* border: 1px solid blue; */
  height: 70px;
  width: 70px;
  padding: 8px;
  cursor: pointer;
}

.Username-WatchTut{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* border: 2px solid orange; */
  /* height: fit-content; */

}

.tut-username-WatchTut{
  /* border: 2px solid sienna; */
  padding-top: 0px;
  font-size: x-large;
  padding-top: 8px;
}

.tut-about-WatchTut {
  /* border: 2px solid royalblue; */
  color:#969696;
  font-size:small;
  padding-top: 8px;
}

#player {
  padding-top: 60px;
}
