
.search-bar-div {
  max-width: 100%;
  width: 1000px;
  display: flex;
}

.search-input {
  border: 1px solid white;
  border-radius: 4px;

  font-size: 16px;
  background-color: transparent;
  outline: none;
  color: white;
  padding-right: 5px;
}

.no-results {
  font-size: 5vw;
  /* border: 2px solid red; */
  margin-top: 8px;
  margin-left: 15px;

}
