/* TODO Add site wide styles */
@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/roboto/Roboto-Medium.ttf)
}

*{
  font-family: MyFont;
  color: #ffffff;
  background-color: #181818;
}

body {
  padding-top: 60px;
}

@media (wax-width: 979px) {
  body {
    padding-top: 0px
  }
}

button {
  background-color: red;
}

.errors {
  color:yellow
}
