/* TODO Add site wide styles */
@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/roboto/Roboto-Medium.ttf)
}

*{
  font-family: MyFont;
  color: #ffffff;
  background-color: #181818;
}
