/* Comments */

.comment-display-watchTut {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
}

.comment-line{
  /* border: 2px solid rgb(83, 255, 30); */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  height: fit-content;
  text-overflow: ellipsis;
}
/* profile pic */
.left-side-comment {
  /* border: 2px solid rgb(254, 115, 254); */
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 16px;
  cursor: pointer;

}

.right-side-comment {
  /* border: 2px solid orangered; */

  height: auto;
  display: flex;
  flex-direction: column;

}

.user-name {
  font-size: large;
  font-weight: bolder;
  padding-bottom: 13px;
  cursor: pointer;
}

.comment-content {
  padding-top: 13px;
}

.comment-content-test-edit {
  /* border: 2px solid rgb(105, 210, 245); */
  display: flex;
  flex-direction: row;
  width: 90%;

}

.edit-comment-input {
  /* border: 2px solid greenyellow; */
  border: 2px solid blue;
  width: 50vw;
  /* border-bottom: 2px solid lightgray; */
  outline: none;
  /* border:none; */
  font-size: large;
  border-bottom: 1px solid darkgrey;
  /* overflow-wrap: ; */
  background-color: transparent;
  background-color: rgba(0, 0, 0, .30);
}

.edit-comment-input:focus {
  outline: none !important;
  border-bottom: 2px solid whitesmoke;
  background-color: rgba(0, 0, 0, .30);
}
